Repository pt20/h3xonize: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: double-quote-string-fixer
  - repo: local
    hooks:
      - id: black
        name: black formatting
        language: system
        types: [python]
        entry: poetry run black

      - id: isort
        name: isort import sorting
        language: system
        types: [python]
        entry: poetry run isort --profile=black

      - id: flake8
        name: flake8 formatting
        language: system
        types: [python]
        entry: poetry run flake8 --config=.flake8

      - id: mypy
        name: mypy type checker
        language: system
        types: [python]
        entry: poetry run mypy --config-file=mypy.ini
        exclude: ^tests/

disable mypy errors for external packages
  mypy.ini
Due: none

fix precommit file
  .pre-commit-config.yaml
Due: none

add inital logic
  README.md
  h3xonize/__init__.py
  h3xonize/download.py
  h3xonize/process.py
  tests/__init__.py
Due: black, isort, flake8, mypy

include makefile
  Makefile
Due: none

add dummy test for now
  pytest.ini
  tests/test_hello.py
Due: black, isort, flake8

cosmetic
  h3xonize/download.py
  h3xonize/process.py
Due: black, isort, flake8, mypy
